.footer__columns {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 24px;
    width: calc(100% - 96px);
    justify-content: space-between;
    align-items: baseline;
}
  
@media (max-width: 1023px) {
    .footer__columns {
      width: calc(100% - 48px);
    }
  }
  
@media (max-width: 767px) {
    .footer__columns {
      flex-direction: column;
      width: calc(100% - 134px);
      margin-left: 16px;
    }
  }