.intro__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - (148px + 442px));
    margin: 0 auto;
    margin-left: 148px;
    margin-bottom: 92px;
}

@media (max-width: 1279px) {
    .intro__container {
        width: calc(100% - (48px + 286px));
        margin-left: 48px;
      }
    }
  
@media (max-width: 1023px) {
    .intro__container {
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-bottom: 88px;
      }
    }
  
@media (max-width: 767px) {
    .intro__container {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-bottom: 80px;
      }
    }
  
@media (max-width: 425px) {
    .intro__container {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-bottom: 64px;
    }
  }