.lead__title {
    margin: 0 auto;
    max-width: 720px;
    margin-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
  }

@media (max-width: 767px) {
    .lead__title {
        max-width: 500px;
        margin-bottom: 26px;
        font-size: 60px;
        line-height: 60px;
      }
    }

@media (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
      }
    }