.cover__background { 
    margin: 0;
    padding: 0;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    place-self: stretch;
    opacity: 0.3;
}
.cover__background:hover {
    opacity: 0.8;
    transition: opacity 1s linear;
    }
