.lead__container {
    width: calc(100% - 296px);
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
}


@media (max-width: 1279px) {
  .lead__container {
      width: calc(100% - 96px);
    }
  }

@media (max-width: 1023px) {
  .lead__container {
      width: 100%;
      margin-bottom: 88px;
    }
  }

@media (max-width: 767px) {
  .lead__container {
      margin-bottom: 64px;
    }
  }


